/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Base styles */
  * {
    @apply box-border; /* Tailwind applies `box-sizing: border-box` */
    margin: 0;
    padding: 0;
  }

  body {
    @apply bg-dark-grey text-white text-center p-10;
  }

  .title {
    @apply text-xl my-5; /* Tailwind's spacing utilities */
  }

  .stats {
    @apply flex justify-around flex-wrap  my-5;
  }
  #state, #agency, #sort-by{
    @apply text-black;
  }
  .options-label {
    @apply text-lg text-white;
  }
  .option{
    @apply text-black;
  }
  .cards {
    @apply flex flex-wrap justify-center items-center text-black;
  }
  .officer-card,#officer-card {
    @apply bg-light-grey p-5 m-3 w-[350px] rounded-15 max-h-card overflow-auto;
  }
  .officer-card>h3 {
    @apply text-lg font-bold sticky top-0 bg-light-grey;
  }

  @media (max-width: 768px) {
    .stats {
      @apply flex-col;
    }
  }
}
