@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
pre {
  font-size: 7em;
}
.map .land {
  /* fill: #f7f7f7; */
  cursor: pointer;
}

.map .interiors {
  fill: none;
  stroke: #000;
}

.label {
  font-size: 1em;
  fill: #000;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
